@import url('https://fonts.cdnfonts.com/css/shoese-flower');
@import url('https://fonts.cdnfonts.com/css/funky-retrovy');

body {
    background-color: #ffffff;
}

#main-section {
    display: grid;
    grid-template-areas: 'nav nav nav nav'
        's1 s1 s1 s1';
    grid-template-rows: 50px 100vh;
    gap: 1rem;
    padding: 10px;
}

#navbar {
    background-color: transparent;
    grid-area: nav;
}

.navbar {
    background-color: transparent !important;
}

.nav-link {
    margin: 0px 30px;
}

#section-1 {
    background-color: #f5f7f9;
    grid-area: s1;
    border-radius: 20px;
}

#s1-container {
    display: grid;
    place-items: center;
    height: 100vh;
    color: #424242;

    #title-div {
        padding: 40px;
    }

    #chip-content {
        color: #ffffff;
        background-color: #5f5f61;
    }

    #title {
        font-size: 8vh;
        text-align: center;
        line-height: 1.5;
    }

    #paragraph {
                font-size: 2.8vh;
                    text-align: center;
                    line-height: 1.5;
    }

    #buttons,
    #chip {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #btn1 {
        background-color: #424242;
        color: #ffffff;
    }

    #btn1,
    #btn2 {
        margin: 7px;
        border-radius: 20px;

    }
}

/* Target small devices like phones */
@media (max-width: 767px) {
    #main-section {
        display: grid;
        grid-template-areas: 'nav nav nav nav'
            's1 s1 s1 s1';
        grid-template-rows: 50px 100vh;
        gap: 1rem;
    }
}

/* Target medium devices like tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    #main-section {
        display: grid;
        grid-template-areas: 'nav nav nav nav'
            's1 s1 s1 s1';
        grid-template-rows: 50px 100vh;
        gap: 1rem;
    }
}